.body {
    text-align: center;
}
#header{
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("myAlmaty.jpeg");
    background-size: cover;
    height: auto;
    padding: 150px;
}
.visit-text {
    background: #457890;
    text-shadow: 1px 1px 3px black;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
}
.below-text {
    background: #103557;
    padding: 7px 10px;
    border-radius: 5px;
    text-shadow: 1px 1px 3px black;
    color: white;
}
#background {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding: 30px;
    margin: 0;
    background: linear-gradient(#d2ffc3, #5da546);
    text-align: center;
    background-size: cover;
}
#attractions{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
}
.activity-img {
    border: 2px solid white;
    border-radius: 50%;
    width: 200px;
    height: 100%;
    text-align: center;
}
.activity{
    border: 2px solid white;
    padding: 20px;
}
.heading {
    color: white;
    width: 300px;
    text-shadow: 1px 1px 3px black;
    font-weight: bold;
}
.text {
    margin: 0 auto 10px auto;
    color: white;
    width: 300px;
    text-shadow: 1px 1px 3px black;

}
#card {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 40px auto;
    text-align: center;
    border-bottom: 5px solid rgb(0, 36, 87);
    border-radius: 6px;
    padding: 12px 17px;
    width: 400px;
    background: #79bcdb;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.profile-img {
    border: 2px rgb(95, 192, 249);
    width: 200px;
    margin-right: 15px;
}